*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 120%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

.header{
    height: 90px;
    width: 100%;
}
header{
    position: fixed;
    top:0; left: 0; right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#1a1919;
    padding:2%;
    height: 90px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 0.5rem;
}

header .navbar a{
    font-weight: bolder;
    color:whitesmoke;
    margin-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
  
header .navbar a:hover{
    color: silver;
  }

.home{
    display: flex;
    display: block;
    width: 100%;
    height: 800px;
    background-image:url(/restoran.jpg);
    background-size: cover;
    background-position: center;
}
.restorant{
    display: flex;
    width: 50%;
    height: 800px;
    float: left;
    border-collapse: collapse;
}
.restorant img {
    display: flex;
    width: 90%;
    height: 700px;
    display: block;
    margin-top: 35px ;
    margin-left: auto;
    margin-right: auto;
}
.aboutUs1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 800px;
    float: left;
    border-collapse: collapse;
    
}
.aboutUs2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    height: 800px;
    float: right;
    border-collapse: collapse;
    
}
.aboutUs1 p{
    display: flex;
    margin-left: 30px;
    color: whitesmoke;
    text-align: justify;
    font-weight: bold;
}
.aboutUs2 p{
    display: flex;
    margin-right: 30px;
    color: whitesmoke;
    text-align: justify;
    font-weight: bold;
}
.menu .offer{
    height: 90px;
    width: 100%;
    background-color: #1a1919;
    display: flex;
    align-items: center;
    justify-content: center;
    order: -1;
}
.menu .offer h1{
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    background-color: #272525;
    gap: 1.5rem;
}
.menu .meals{
    height: 400px;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #1a1919;
    padding: 2rem;
    margin-bottom: 1rem;
    width: 20%;
    margin-left: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;

}
.menu .meals .mealPic {
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.menu .meals .mealPic img{
    display: flex;
    width: 100%;
    height: 100%;

    border-radius: 0.5rem;
}

.menu .meals .description{
    text-align: justify;
    color: whitesmoke;
    padding: 2rem;


}

.menu .meals .description h3{
    font-size: larger;
    color: whitesmoke;
}

.menu .meals .description p{
    font-size: large;
    color: gray;
    padding: 1rem 0;
}
.menu .options {
    width: 100%;
    height: 200px;
    background-color: #1a1919;
}
.menu .options p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: large;
    color: whitesmoke;
    padding: 2rem;
}
.menu .options .btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20% ;
    gap: 0.5rem ;

}

.menu .options .btn .add{
    height: 100%;
    width: 30%;
    background-color: #272525;
    color: whitesmoke;
}
.menu .options .btn .update{
    height: 100%;
    width: 30%;
    background-color: #272525;
    color: whitesmoke;
}
.menu .options .btn .delete{
    height: 100%;
    width: 30%;
    background-color: #272525;
    color: whitesmoke;
}
.button{
    cursor: pointer;
}

/* Form and modal style*/

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1a1919;
    z-index: 1000;
    cursor: pointer;
}
.modal{
    width: 30rem;
    height: 30rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#272525;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    color:whitesmoke ;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.formInputField{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    border-radius: 15px;
}
.inputField{
    width: 13rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.tekst{
    width: 3rem;
}
.buttons{
    display: flex;
    gap: 20px;
}
.hidden{
    display: none;
}

/*Buttons*/

.button-6{
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid #1a1919  ;
    border-radius: 0.25rem;
    box-shadow: #1a1919 0 1px 3px 0;
    box-sizing: border-box;
    color:#272525;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding:calc(0.875rem - 1px) calc(1.5rem - 1px); 
    position: relative;
    transition: all 25ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}
.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/*Review style*/
.review .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:#1a1919;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.review{
    display: flex;
    flex-wrap: wrap;
    background-color: #272525;
    gap: 1.5rem;
}

.review .box {
    height: 600px;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #1a1919;
    padding: 2rem;
    margin-bottom: 1rem;
    width: 30%;
    margin-left: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
  }
  
.review .box img {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    height: 60%;

    border-radius: 0.5rem;
    
  }
  
.review  .box h4 {
    font-size: 2.5rem;
    color: whitesmoke;
    padding: 0.5rem 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
.review  .box p {
    font-size: medium;
    color: whitesmoke;
    padding: 1rem 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.review .box .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.review .box .rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.review .box .rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.review .box .rate:not(:checked) > label:before {
    content: '★ ';
}
.review .box .rate > input:checked ~ label {
    color: #ffc700;    
}
.review .box .rate:not(:checked) > label:hover,
.review .box .rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.review .box .rate > input:checked + label:hover,
.review .box .rate > input:checked + label:hover ~ label,
.review .box .rate > input:checked ~ label:hover,
.review .box .rate > input:checked ~ label:hover ~ label,
.review .box .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*Footer*/

.footer {
    width: 100%;
    height: 120px;
    background-color: #1a1919;
   
}
.footer h2{
    width: 100%;
    height: 45px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer .socIMG{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 1rem;
    background-color: #1a1919;
}
.footer p{
    width: 100%;
    height: 20px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  

  




/*RESPONSIVE DESIGN*/

/* Mobitel*/

@media only screen and ( max-width : 450px ) {


    header .navbar a{font-size: medium;}
    .aboutUs1 p, .aboutUs2 p { font-size: small; width: 100%; height: 24% ; margin-right: 30px; margin-left: 30px; margin-top: auto; margin-bottom: auto;}
    .restorant {width: 100%; height: 33%;  justify-content: center; align-items: center;}
    .restorant img {width: 95%; height: 95%;  justify-content: center; align-items: center;}
    .aboutUs1  { width: 100%; height: 33%; justify-content: center; }
    .aboutUs2 { width: 100%; height: 33%;justify-content: center;}
    .menu .offer {font-size: medium;}
    .menu .meals {width: 90%;}
    .menu .meals .description h3{font-size: medium; }
    .menu .meals .description h3{font-size: small; }
    .review .box{width: 90%;  height: 400px;}
    .review .box h4 {font-size: medium;}
    .review .box p {font-size: small;}

    

}
/* Tablet*/

@media only screen and ( min-width : 451px )  and ( max-width : 960px ){
    header .navbar a{font-size:large;}
    .aboutUs1 p, .aboutUs2 p { font-size: medium;}
    .restorant img {height: 60%; align-items: center; justify-content: center; margin-top: auto; margin-bottom: auto;}
    .menu .meals {width: 40%;}
    .menu .meals .description h3{font-size: large; }
    .menu .meals .description h3{font-size: medium; }
    .review .box{width: 40%;  height: 400px;}
    .review .box h4 {font-size: medium;}
    .review .box p {font-size: small;}
 
    
}
/* Desktop*/

@media only screen and ( min-width : 961px ) {

    
}